.search-result {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    min-height: 3em;
    max-width: 30em;
    margin-bottom: 0.5em;
}

.search-result.low-stock {
    background-color: hsla(0, 72%, 54%, 0.29);
}

.search-result:not(:last-child) {
    border-bottom: 1px solid hsl(0, 0%, 65%);
}

.search-result .matches-summary {
    cursor: pointer;
}

.term {
    font-weight: bold;
}

.timestamp {
    font-size: 0.75em;
}

.details-container {
    display: flex;
    flex-direction: column;
    transition: height 0.25s, opacity 0.25s;
}

.details-container.collapsed {
    height: 0;
    opacity: 0;

    pointer-events: none;
}

.details-container {
    margin-right: 0.25em;
    background-color: hsla(0, 0%, 100%, 0.15);
}

.details-container > .title {
    text-align: center;
}

.details-container > .subjects-container, .details-container > .matches-container {
    display: flex;
}

.details-container > .matches-container  {
    margin-bottom: 1em;
    flex-direction: column;
}

.details-container > .matches-container > .title {
    font-size: 0.9em;
    font-weight: bold;

    border-bottom: 1px solid hsl(0, 0%, 50%);
}

.details-container > .subjects-container {
    flex-wrap: wrap;
    justify-content: center;
}

.details-container > .subjects-container .subject{
    font-size: 0.75em;
    background-color: hsl(200, 20%, 85%);

    border: 1px solid white;
    border-radius: 10px;
}

.details-container > .subjects-container .subject, .details-container > .matches-container .title {
    padding: 0 0.35em;
}